<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <title>{{ meta.title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <meta charset="{{ meta.charset }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="application-name" content="">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{ theme.uri }}/assets/images/favicon/mstile-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ theme.uri }}/assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ theme.uri }}/assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ theme.uri }}/assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ theme.uri }}/assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ theme.uri }}/assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ theme.uri }}/assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="{{ theme.uri }}/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ theme.uri }}/assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="{{ theme.uri }}/assets/main.css">
  {% block head %}{% endblock %}
  {{ function('wp_head') }}
</head>
<body {{ function('body_class') }}>

  {% include 'components/header.html.twig' %}

  <main class="content">
    {% block content %}{% endblock %}
  </main>

  {% include 'components/footer.html.twig' %}

  {% block overlay %}{% endblock %}

  {% include 'components/gtag.html.twig' %}

  {% block scripts %}{% endblock %}

  <script type="text/javascript" src="{{ theme.uri }}/assets/main.js"></script>

  {{ function('wp_footer') }}
</body>
</html>